@font-face {
  font-family: "iconfont"; /* Project id 4211767 */
  src: url('iconfont.woff2?t=1698055081867') format('woff2'),
       url('iconfont.woff?t=1698055081867') format('woff'),
       url('iconfont.ttf?t=1698055081867') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lajitong:before {
  content: "\e646";
}

.icon-telegram:before {
  content: "\e794";
}

.icon-profile:before {
  content: "\e6bd";
}

.icon-fasong:before {
  content: "\e6cc";
}

.icon-setting:before {
  content: "\e602";
}

.icon-fenxiang1:before {
  content: "\e633";
}

.icon-fanhui:before {
  content: "\e608";
}

.icon-jiantou_youxia:before {
  content: "\eb0c";
}

.icon-zhantiepeizhi:before {
  content: "\e6b0";
}

.icon-Shankar:before {
  content: "\e6a9";
}

.icon-liuyan:before {
  content: "\e69f";
}

.icon-fenxiang:before {
  content: "\e86e";
}

.icon-video:before {
  content: "\e61f";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-guanbi:before {
  content: "\e624";
}

.icon-zhankai:before {
  content: "\e604";
}

.icon-dianshiji:before {
  content: "\e600";
}

.icon-shandian:before {
  content: "\e799";
}

.icon-tupian1:before {
  content: "\e610";
}

